{{#partial "content"}}
    <div class="col-md-8">
        <h1>Current Teams:</h1>
        {{#if teams}}
            {{#each teams}}
                <p>{{id}}.&nbsp;<a href="/teams/{{id}}">{{teamName}}</a></p>
            {{/each}}
        {{else}}
        <p>No team listed yet!</p>
        {{/if}}
    </div>
    <div class="col-md-4">
        <p class="btn btn-default"><a href="/teams/new">Register your team</a></p>
    </div>
{{/partial}}

{{> layout.hbs}}