{{#partial "content"}}
    <div class="col-md-8">
        {{#if teams}}
            {{#each teams}}
                <p>Current Teams:</p>
                <p>{{id}}:&nbsp;<a href="/">{{teamName}}</a></p>
            {{/each}}
            {{else}}
            <p>No team added yet!</p>
        {{/if}}
    </div>
    <div class="col-md-4">
        <p class="btn btn-default"><a href="/team/new">Register your team</a></p>
    </div>
{{/partial}}

{{> layout.hbs}}