<!DOCTYPE html>
<html>
    <head>
       <title>{{#block "title"}}Team Tracker{{/block}}</title>
       <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>
        <div class="container">
           <!--begin main template-->
           <div class="jumbotron">
               <h1>Team Tracker</h1>
           </div>
           <div class="row">
               {{#block "content"}}

               {{/block}}
           </div>
        </div>
        <!--end main template-->
{{#block "footer"}}
   </body>
</html>
{{/block}}