{{#partial "content"}}
    <h3>Team: {{team.teamName}}</h3>
    <h4>Members:</h4>
    {{#if teamMember}}
         <p>{{teamMember.teamMemberName}}</p>
    {{else}}
        <p>No member listed yet!</p>
    {{/if}}
    <a href="/">Go Back</a>


{{/partial}}

{{> layout.hbs}}