{{#partial "content"}}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/teams/new"">Add Team</a></li>
                <li><a href="member-form">Add Member</a></li>
            </ul>
        </div>
    </nav>
    <form action="/teams/new" method="POST" class="well">
        <div class="form-group">
          <label for="team-name">Enter Team Name: </label>
          <input id="team-name" name="team-name" type="text" required>

          <button type="submit" class="btn btn-default">Enter</button>
        </div>
    </form>
{{/partial}}

{{> layout.hbs}}
